.mapBox {
  position: relative;
  width: 100%;
  height: 126vh;
  cursor: grab;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.mapBox:active {
  cursor: grabbing;
}

.locationPin {
  width: 3vw;
}

.station1Box {
  position: absolute;
  top: 3vh;
  right: 68vw;
  width: 25vw;
  height: 30vh;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.station1Title {
  margin-left: 5%;
  padding: 0;
  margin-bottom: -7%;
  /* background-color: aliceblue; */
}

.station1Title h3 {
  color: #2c259b;
  font-style: normal;
  font-weight: 900;
  margin-bottom: -20px;
}

.station1Info {
  /* background-color: lightgreen; */
  margin-left: 5%;
  margin-bottom: 2%;
  margin-top: 1%;
  height: 50%;
}

.stationBtns {
  /* background-color: lightgrey; */
  margin-left: 5%;
  display: flex;
  align-items: center;
  gap: 2%;
}

.station2Box {
  position: absolute;
  top: 33vh;
  right: 68vw;
  width: 25vw;
  height: 30vh;
  background-color: white;
}

.station2Title {
  margin-left: 5%;
  padding: 0;
  margin-bottom: -3%;
  /* background-color: aliceblue; */
}

.station2Title h3 {
  color: #2c259b;
  font-style: normal;
  font-weight: 900;
  margin-bottom: -20px;
}

.station2Info {
  /* background-color: lightgreen; */
  margin-left: 5%;
  margin-bottom: 2%;
  height: 50%;
  margin-top: 1%;
}

.station3Box {
  position: absolute;
  top: 63vh;
  right: 68vw;
  width: 25vw;
  height: 30vh;
  background-color: white;
}

.station3Title {
  margin-left: 5%;
  padding: 0;
  margin-bottom: -3%;
  /* background-color: aliceblue; */
}

.station3Title h3 {
  color: #2c259b;
  font-style: normal;
  font-weight: 900;
  margin-bottom: -20px;
}

.station3Info {
  /* background-color: lightgreen; */
  height: 50%;
  margin-left: 5%;
  margin-bottom: 2%;
  margin-top: 1%;
}

.directionsBtn {
  width: 69%;
  height: 5vh;
  flex-shrink: 0;
  border-radius: 94px;
  border: 1px solid #fe0c00;
  background: #ed560e;
  color: white;
  font-weight: 600;
}

.heartImg {
  width: 2vw;
}


.advancedMarker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.zPin {
  width: 3.5vw;
}

.circleGroup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  gap: 2%;
}

.circle1 {
  width: 45px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 32px;
  background: #ed550e;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left: 2%; */
  color: #fff;
  text-align: center;

  font-weight: 600;
}

.circle2 {
  width: 45px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 32px;
  background: #f8852c;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left: 2%; */
  color: #fff;
  text-align: center;

  font-weight: 600;
}

.circle3 {
  width: 45px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 32px;
  background: #ffb12e;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left: 2%; */
  color: #fff;
  text-align: center;
  font-weight: 600;
}

.distanceBox {
  width: 5vw;
  height: 5vh;
  border-radius: 11px;
  background: linear-gradient(0deg, #5650af 0%, #5650af 100%), #d9d9d9;
  color: #fff;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  margin-top: 4%;
}

.infoWindow {
  width: 50vw;
  height: auto;
  max-height: 25vh;
  margin: 0;
  padding: 0;
  display: flex;
}

.infoWindowLeft {
  width: 40%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 8px;
}

.infoWindowLeft h2 {
  color: #2c259b;
  font-style: normal;
  font-weight: 900;
  margin: 0;
  padding: 0;
}

.infoWindowLeft div {
  display: flex;
  flex-wrap: wrap;
}

.infoWindowRight {
  width: 20%;
  height: 80%;
  border-radius: 13px;
  background-color: rgb(243, 243, 243);
  display: flex;
  padding: 2%;
}

.infoWindowRight p {
  font-size: 10px;
  margin: 3%;
  width: 5vw;
}

.infoWindowRightHours p {
  font-size: 10px;
  margin: 3%;
}

.infoWindowLeftBtns {
  display: flex;
  gap: 10px;
  padding-top: 5%;
}

.infoWindowBtn {
  border-radius: 94px;
  border: 1px solid #fe0c00;
  background: #ed560e;
  color: white;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 8vw;
  height: 4vh;
  justify-content: center;
}

.servicesList {
  margin: 5px 0;
}

.servicesList ul {
  list-style-type: disc;
  padding-left: 20px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 4px 22px;
  width: 100%;
}

.serviceItem {
  margin: 2px 0;
  font-size: 14px;
  white-space: nowrap;
  flex: 0 1 auto;
}
